In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data/Train_Test_datasets/Train_Test_IoT_dataset/Train_Test_IoT_Garage_Door.csv', skipinitialspace=True)

df.head()

           ts       date       time door_state sphone_signal  label  type
0  1556228553  25-Apr-19  14:42:33      closed             0      1  ddos
1  1556228558  25-Apr-19  14:42:38      closed             0      1  ddos
2  1556228563  25-Apr-19  14:42:43      closed             0      1  ddos
3  1556228568  25-Apr-19  14:42:48      closed             0      1  ddos
4  1556228578  25-Apr-19  14:42:58      closed             0      1  ddos

In [3]:
df.door_state.value_counts()

closed    53588
open       5999
Name: door_state, dtype: int64

In [4]:
df.dtypes

ts                int64
date             object
time             object
door_state       object
sphone_signal    object
label             int64
type             object
dtype: object

In [5]:
df.door_state = df.door_state.apply(lambda x: 0 if x == 'closed' else 1)
df.door_state.value_counts()

0    53588
1     5999
Name: door_state, dtype: int64

In [6]:
df.sphone_signal.value_counts()

false      31491
0          22097
true        3509
1           2490
Name: sphone_signal, dtype: int64

In [7]:
tmp = df.sphone_signal.map(str.strip)
tmp = tmp.map(lambda x: 0 if x == 'false' else 1 if x == 'true' else int(x))

In [8]:
tmp.value_counts()

0    53588
1     5999
Name: sphone_signal, dtype: int64

In [9]:
df.sphone_signal = tmp
df.dtypes

ts                int64
date             object
time             object
door_state        int64
sphone_signal     int64
label             int64
type             object
dtype: object

In [10]:
df.corr(method='pearson')

                     ts  door_state  sphone_signal     label
ts             1.000000    0.001904       0.001904  0.996488
door_state     0.001904    1.000000       1.000000  0.001662
sphone_signal  0.001904    1.000000       1.000000  0.001662
label          0.996488    0.001662       0.001662  1.000000